.main-container {    
    width: 90vw;
    height: max-content;
    margin-top: 20rem;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;  
    }